<div class="container footer" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="2px">

    <div fxFlex="100" fxFlex.gt-sm="50">


        <div fxLayout="column">
            <div fxFlex="20" fxFlexOffset="5px">
                <mat-list>
                    <mat-list-item>
                        <a href="https://www.primevideo.com/help/ref=atv_ftr_ter?_encoding=UTF8&nodeId=202064890"><span><strong>Terms and Privacy Notice</strong></span></a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="https://www.primevideo.com/help/contact-us/ref=av_auth_return_redir"><span><strong>Send us feedback</strong></span></a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="https://www.primevideo.com/help/ref=atv_ftr_hp"><span><strong>Help</strong></span></a>
                    </mat-list-item>
                    <mat-list-item>
                        <p>© 1996-2020, Amazon.com, Inc. or its affiliates</p>
                    </mat-list-item>
                </mat-list>

            </div>

        </div>
    </div>

</div>