<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">

    <mat-card *ngFor="let suspence of suspences" fxFlex>

        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
                <h3>{{suspence.name | uppercase}} <label class="label">{{suspence.rating}}</label></h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{suspence.image}} alt={{suspence.name}} height="450" width="500">
        <mat-card-content>
            <h2><span><strong>Director: </strong></span> {{suspence.director}}</h2>
            <h3><span><strong>Starring: </strong></span> {{suspence.starring}}</h3>
            <h3><span><strong>Genre: </strong></span> {{suspence.genres}}</h3>
            <p>
                <span> <span><strong>Description: </strong></span>{{suspence.description}}</span>
            </p>
        </mat-card-content>


    </mat-card>


</div>