<mat-toolbar color="primary">
    <span><img src="/assets/images/prime2.png" height=30 width=75></span>
    <a mat-button routerLink="/movies" routerLinkActive="active" class="mov"><span  class="fa fa-play-circle" aria-hidden="true">Movies</span> </a>
    <a mat-button routerLink="/action" routerLinkActive="active"><span class="fa fa-car" aria-hidden="true"></span> Action</a>
    <a mat-button routerLink="/suspence" routerLinkActive="active"><span class="fa fa-spinner" aria-hidden="true" ></span> Suspence</a>

</mat-toolbar>

<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">

    <div fxFlex fxFlex.gt-sm="50%">
        <h1>Movies in Telugu</h1>
        <p></p>
    </div>
    <div fxFlex fxFlex.gt-sm="50%">
        <img src="/assets/images/logo1.png" alt="Logo" height="150" width="200">
    </div>
    <div fxFlex></div>
</div>