$lt-gray: #ddd;
$background-dark:#0d4077;
$background-light: #2975c6;
$background-pale:#c5def9;
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(30px, 30px);
    background: $background-light;
    color: floralwhite;
    min-height: 150px;
}

.active {
    background: $background-dark;
}

.mov {
    color: floralwhite;
}